* {
  margin: 0;
}

.app {
  margin-top: 50px;
  margin-left: 50px;
}

.board {
  width: 606px;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px black solid;
  cursor: pointer;
}

.middle-text {
  border: 1px solid red;
}

button {
  position: fixed;
  top: 20vh;
  right: 200px;
}