* {
  margin: 0;
}

.app {
  margin-top: 50px;
  margin-left: 50px;
}

.board {
  width: 606px;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
}

.square {

  width: 200px;
  height: 200px;
  border: 1px black solid;
  cursor: pointer;
}

.draggable-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.draggable-container:hover {
  background-color: rgb(212, 231, 238);
}

.middle-text {
  font-family: 'Baloo Da 2', display;
  font-weight: 500;;
  font-size: 2rem;
  border-radius: 2.5%;
}

button {
  position: fixed;
  top: 20vh;
  right: 200px;
  padding: 1em 2em 1em 2em;
  border-radius: 5px;
}